<!DOCTYPE html>
<html lang="en">
    <head>
        {{!-- Configuration Tags --}}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="exercise date in seconds"/>{{!-- How long for the cached page to be available for --}}
        <meta name="robots" content="index, follow">
        {{!-- Some public information of your website --}}
        <meta name="keywords" content="keyword 1, keyword 2, keyword 3"/>
        <meta name="author" content="Kato Twofold" />
        <meta name="copyright" content="Kato Twofold" />
        <meta name="description" content="An example website for you to use as a guide, the description should be up to 160 characters" />
        {{!-- The title of your website --}}
        <title>Example Website</title>  
    </head>
    <body>